### Looping 

- Sometimes it may be neccessary to repeat the certain process until a certain condition is met.
- It's a process of repeating a set of statments

    In python , there are 2 loops

#### For loop

- In Python, the for loop is used to iterate over a sequence such as a list, string, tuple, other iterable objects such as range.

- With the help of for loop, 
       - we can iterate over each item present in the sequence and executes the same set of operations for each item. 
       
- Using a for loops in Python we can automate and repeat tasks in an efficient manner.

>syntax:

```code
for i in range/sequencee:
    statement 1
    statement 2
    statement n
    
 ```

![img](https://pynative.com/wp-content/uploads/2021/06/for-loop-in-python.png)

![](https://pynative.com/wp-content/uploads/2021/06/for-loop-range.png)

In [15]:
for i in range(1,10):
    print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [9]:
# without loops

print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")


print("hello "*10)

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
hello hello hello hello hello hello hello hello hello hello

In [ ]:
print("hello world")

In [17]:
# with loops
for i in range(1,10,1):#(start,stop,step) 
    print(i, end = ' ')

1 2 3 4 5 6 7 8 9

In [18]:
for i in range(1,11,1):
    print(f'hello {i}')

hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

In [19]:
for i in range(9): #(0,9,1)
    print(i**2)

0
1
4
9
16
25
36
49
64

In [20]:
for i in range(1,10,1):
    print(i**2,end=" ")

1 4 9 16 25 36 49 64 81

In [21]:
for ak in range(0,10):
    print(ak)

print(f"outside loop value is: {ak}")

0
1
2
3
4
5
6
7
8
9
outside loop value is: 9

In [22]:
num = 9
i = 1

print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')
i+=1
print(f'{num} * {i} = {num*i}')

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [24]:
num = int(input('enter num: '))

for i in range(1,11):
    print(f'{num} * {i} = {num*i}')

enter num: 44
44 * 1 = 44
44 * 2 = 88
44 * 3 = 132
44 * 4 = 176
44 * 5 = 220
44 * 6 = 264
44 * 7 = 308
44 * 8 = 352
44 * 9 = 396
44 * 10 = 440

#### print base FOR-LOOP
    - Mainly used for printing & filtering purpose
    - Don't have access to the index locations.
    - Can be used on ALL-TYPES : List,Tuple , Set , Str , Dictionary

```code

for var in sequence:
    body
    
```

In [1]:
# list 

marks = [3,0,9,6,15,25]

for mark in marks:
    print(mark, end = ' ')

3 0 9 6 15 25

In [2]:
# tuple
prices = (55.2,90.2,67.2,51.2,10/3)

for p in prices:
    print(p)

55.2
90.2
67.2
51.2
3.3333333333333335

In [3]:
# str
name = "Kumar R"

for ch in name:
    print(ch)

K
u
m
a
r

R

In [9]:
s = "Python is OOps Language"
for ch in s:
    if ch.isupper():
        print(ch , end=" ")

P O O L

In [10]:
vowels = 'a e i o u'.split() #list ['a','e','i','o','u']

sentence = 'python is oops language'

# print all vowels 
# print count of all vowels 
output = []

for ch in sentence:
    if ch in vowels:
        output.append(ch)

print(output , len(output))

['o', 'i', 'o', 'o', 'a', 'u', 'a', 'e'] 8

In [11]:
vowels = 'a e i o u'.split() #list

sentence = 'python is oops language'

# print all vowels 
# print count of all vowels 
v_count = 0 

for ch in sentence:
    if ch in vowels:
        print(ch,end=' ')
        v_count = v_count+1

print(v_count)

o i o o a u a e 8

In [12]:
# set 

colors = {"blue","red","yellow","blue","red","orange"}

for c in colors:
    print(c)

orange
red
blue
yellow

In [13]:
# dict

openai = {
            "engine":"GPT",
            "version" : "3.0",
            "model": "DALLE"
          }

print(openai)

{'engine': 'GPT', 'version': '3.0', 'model': 'DALLE'}

In [14]:
print(dir(openai))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [15]:
print(openai.keys())

dict_keys(['engine', 'version', 'model'])

In [16]:
print(openai.values())

dict_values(['GPT', '3.0', 'DALLE'])

In [17]:
print(openai.items())

dict_items([('engine', 'GPT'), ('version', '3.0'), ('model', 'DALLE')])

In [20]:
print(openai['MODEL'])

KeyError: 'MODEL'

In [24]:
print(openai.get("model","couldn't find key"))

DALLE

In [25]:
print(openai)

{'engine': 'GPT', 'version': '3.0', 'model': 'DALLE'}

In [29]:
for s in openai:
    print(s)

engine
version
model

In [30]:
for k in openai:
    print(k,openai[k])

engine GPT
version 3.0
model DALLE

In [31]:
for k in openai:
    print(k , openai.get(k))

engine GPT
version 3.0
model DALLE

In [32]:
openai

{'engine': 'GPT', 'version': '3.0', 'model': 'DALLE'}

In [36]:
for key in openai.keys():
    print(key)
    
print()

for val in openai.values():
    print(val)
  
print()

    
for item in openai.items(): #[() , () , ()]
    print(item, type(item))
    
    
print()


for k,v in openai.items(): #tuple unpacking
    print(v)

engine
version
model

GPT
3.0
DALLE

('engine', 'GPT') <class 'tuple'>
('version', '3.0') <class 'tuple'>
('model', 'DALLE') <class 'tuple'>

GPT
3.0
DALLE

In [37]:
k,v = ('engine' , 'GPT') #tuple unpacking

print(k)
print(v)

ValueError: too many values to unpack (expected 2)

In [39]:
#dict 
#key = immutables (str,tuple,int,float,complex,bool) 
#values =immu & mutable : both
student = {
    "Name": "Ellie",
    "Address":"USA",
    "Salary":4000,
    "Role":"SDE"
}


for tmp in student: # print only the keys
    print(tmp, student[tmp])

Name Ellie
Address USA
Salary 4000
Role SDE

In [40]:
student.items()

dict_items([('Name', 'Ellie'), ('Address', 'USA'), ('Salary', 4000), ('Role', 'SDE')])

In [41]:
for data in student.items():
    print(data , type(data))

('Name', 'Ellie') <class 'tuple'>
('Address', 'USA') <class 'tuple'>
('Salary', 4000) <class 'tuple'>
('Role', 'SDE') <class 'tuple'>

In [42]:
for data in student.items(): #nested loops
    for ele in data:
        print(ele , end = ' ')
    print()

Name Ellie
Address USA
Salary 4000
Role SDE

In [45]:
for data in student.items():
    print(data[0], data[1])

Name Ellie
Address USA
Salary 4000
Role SDE

In [46]:
a=(10,20,30)
print(a,type(a))

(10, 20, 30) <class 'tuple'>

In [49]:
b = 10,20
print(b,type(b))

(10, 20) <class 'tuple'>

In [51]:
a,b = (10,20)
print(a,b)

10 20

In [52]:
for k,v in student.items(): #[(K1,v1),(K2,v2).....,(K2,v2)]
    print(k,v)

Name Ellie
Address USA
Salary 4000
Role SDE

In [53]:
a = [("sairam","python",1000),("Ak","Java",700),("Stu","Ruby",600)]

for x in a:
    print(x[0],x[1],x[2])

sairam python 1000
Ak Java 700
Stu Ruby 600

In [54]:
a=[("sairam","python",1000),("Ak","Java",20000),("Stu","Ruby",100)]

for x,y,z in a:
    print(x,y,z)
    
    
# same no of elements in all tuples.

sairam python 1000
Ak Java 20000
Stu Ruby 100

### Examples 

- nested data

In [55]:
userdata = {
	"page": 2,
	"per_page": 6,
	"total": 12,
	"total_pages": 2,
	"data": [
		{
			"id": 7,
			"email": "michael.lawson@reqres.in",
			"first_name": "Michael",
			"last_name": "Lawson",
			"avatar": "https://reqres.in/img/faces/7-image.jpg"
		},
		{
			"id": 8,
			"email": "lindsay.ferguson@reqres.in",
			"first_name": "Lindsay",
			"last_name": "Ferguson",
			"avatar": "https://reqres.in/img/faces/8-image.jpg"
		},
		{
			"id": 9,
			"email": "tobias.funke@reqres.in",
			"first_name": "Tobias",
			"last_name": "Funke",
			"avatar": "https://reqres.in/img/faces/9-image.jpg"
		},
		{
			"id": 10,
			"email": "byron.fields@reqres.in",
			"first_name": "Byron",
			"last_name": "Fields",
			"avatar": "https://reqres.in/img/faces/10-image.jpg"
		},
		{
			"id": 11,
			"email": "george.edwards@reqres.in",
			"first_name": "George",
			"last_name": "Edwards",
			"avatar": "https://reqres.in/img/faces/11-image.jpg"
		},
		{
			"id": 12,
			"email": "rachel.howell@reqres.in",
			"first_name": "Rachel",
			"last_name": "Howell",
			"avatar": "https://reqres.in/img/faces/12-image.jpg"
		}
	],
	"support": {
		"url": "https://reqres.in/#support-heading",
		"text": "To keep ReqRes free, contributions towards server costs are appreciated!"
	}
}

In [60]:
# Print only full name of the user by concating lastName,firstname
# Edwards, George

dict_keys(['id', 'email', 'first_name', 'last_name', 'avatar'])

In [64]:
for user in userdata['data']:
    if 'first_name' in user.keys() and 'last_name' in user.keys():
        fullName = user['last_name'] + "," + user['first_name']
        print(fullName)

Lawson,Michael
Ferguson,Lindsay
Funke,Tobias
Fields,Byron
Edwards,George
Howell,Rachel

In [ ]:
facts = [
	{
		"status": {
			"verified": True,
			"sentCount": 1
		},
		"_id": "58e00b5f0aac31001185ed24",
		"user": "58e007480aac31001185ecef",
		"text": "When asked if her husband had any hobbies, Mary Todd Lincoln is said to have replied \"cats.\"",
		"__v": 0,
		"source": "user",
		"updatedAt": "2020-08-23T20:20:01.611Z",
		"type": "cat",
		"createdAt": "2018-02-19T21:20:03.434Z",
		"deleted": False,
		"used": False
	},
	{
		"status": {
			"verified": True,
			"feedback": "",
			"sentCount": 1
		},
		"_id": "5887e1d85c873e0011036889",
		"user": "5a9ac18c7478810ea6c06381",
		"text": "Cats make about 100 different sounds. Dogs make only about 10.",
		"__v": 0,
		"source": "user",
		"updatedAt": "2020-09-03T16:39:39.578Z",
		"type": "cat",
		"createdAt": "2018-01-15T21:20:00.003Z",
		"deleted": False,
		"used": True
	},
	{
		"status": {
			"verified": True,
			"sentCount": 1
		},
		"_id": "58e008780aac31001185ed05",
		"user": "58e007480aac31001185ecef",
		"text": "Owning a cat can reduce the risk of stroke and heart attack by a third.",
		"__v": 0,
		"source": "user",
		"updatedAt": "2020-08-23T20:20:01.611Z",
		"type": "cat",
		"createdAt": "2018-03-29T20:20:03.844Z",
		"deleted": False,
		"used": False
	},
	{
		"status": {
			"verified": True,
			"sentCount": 1
		},
		"_id": "58e009390aac31001185ed10",
		"user": "58e007480aac31001185ecef",
		"text": "Most cats are lactose intolerant, and milk can cause painful stomach cramps and diarrhea. It's best to forego the milk and just give your cat the standard: clean, cool drinking water.",
		"__v": 0,
		"source": "user",
		"updatedAt": "2020-08-23T20:20:01.611Z",
		"type": "cat",
		"createdAt": "2018-03-04T21:20:02.979Z",
		"deleted": False,
		"used": False
	},
	{
		"status": {
			"verified": True,
			"sentCount": 1
		},
		"_id": "58e00af60aac31001185ed1d",
		"user": "58e007480aac31001185ecef",
		"text": "It was illegal to slay cats in ancient Egypt, in large part because they provided the great service of controlling the rat population.",
		"__v": 0,
		"source": "user",
		"updatedAt": "2020-09-16T20:20:04.164Z",
		"type": "cat",
		"createdAt": "2018-01-15T21:20:02.945Z",
		"deleted": False,
		"used": True
	}
]

In [ ]:
for fact in facts:
    print(fact.get('text'))


NEGATIVE MODULES 
===================
 
-a%b ===> Add +b to -a until we reach either 0, or +ve number

a%-b ===> Subtract -b to a until we reach 0,or -ve negative number.

In [ ]:
print(10%3)
# print(10%0)
print(10%100)
print(5%5)

In [ ]:
print(-10%3)

-10+3 = -7+3=>-4+3==>-1+3==>2

In [ ]:
print(10%-3)

In [ ]:
10-3 ==> 7-3==>4-3==>1-3==>-2

In [ ]:
print(txt.expandtabs(8))

### RANGE BASED for loop

- we have control on index locations
- maily used to change the data at locations
- customized output
- range(start,stop,step)
- we can apply on list , tuple ,str

In [79]:
list_data = ["Python","Course","Fee","Dollars",True,10.28989]

print(list_data[3])
print(list_data[3][-1])
print(list_data[-3][-6])
print(list_data[-2])

Dollars
s
o
True

In [69]:
for ele in list_data:
    print(ele, end= ' ')

Python Course Fee Dollars True 10.28989

In [80]:

list_data = ["Python","Course","Fee","Dollars",True,10.28989]

n = len(list_data)

print(f'length of list is {n}')

for i in range(0,n):
    print(i, list_data[i])

length of list is 6
0 Python
1 Course
2 Fee
3 Dollars
4 True
5 10.28989

In [81]:
print(list_data)

['Python', 'Course', 'Fee', 'Dollars', True, 10.28989]

In [83]:
for ind in range(n):
    if ind%2 == 1:
        print(list_data[ind])

Course
Dollars
10.28989

In [84]:
print(list_data)

['Python', 'Course', 'Fee', 'Dollars', True, 10.28989]

In [85]:
for ind in range(n):
    if ind%2==0:
        list_data[ind] = ind**ind

In [86]:
print(list_data)

[1, 'Course', 4, 'Dollars', 256, 10.28989]

In [88]:
#reverse using loop
for index in range(-1 , -n-1 , -1):
    print(list_data[index], end= " ")

10.28989 256 Dollars 4 Course 1

In [89]:
# slicing
print(list_data[::-1])

[10.28989, 256, 'Dollars', 4, 'Course', 1]

In [90]:
comp = ["Google","Microsoft",True , 1729 , 10e10 , 5+2j]

for i in range(len(comp)):#0-5
    if (i>2):
        print(comp[i])
    else:
        print(f"{i} is less than given condition")

0 is less than given condition
1 is less than given condition
2 is less than given condition
1729
100000000000.0
(5+2j)

In [94]:
comp = ["Google","Microsoft",True , 1729 , 10e10 , 5+2j]

loc = int(input("Enter the loc: "))

if loc >= len(comp):
    print('invalid location no.')
else:
    inp_dt = input('enter the data to change: ')
    for i in range(len(comp)):
        if(i==loc):
            comp[i] = inp_dt
            
    print(comp)

Enter the loc: 1
enter the data to change: india
['Google', 'india', True, 1729, 100000000000.0, (5+2j)]

In [ ]:
comp = ["Google","Microsoft",True , 1729 , 2j ,10e10 , 5+2j]

for i in range(len(comp)):
    if (type(comp[i]) not in [complex , int , str]):
        print(comp[i])

In [ ]:
# TUPLE

In [ ]:
# tuple
prices = (55.2,90.2,67.2,51.2,10/3)

for ind in range(len(prices)):
    print(prices[ind])

In [ ]:
prices = (55.2,90.2,67.2,51.2,10/3)

for ind in range(len(prices)):
    if ind % 2 == 1:
        prices[ind] = ind**ind
print(prices[ind])

In [ ]:
# STR

In [ ]:
msg = "Hey Hi"

for i in range(len(msg)):
    print(msg[i])

In [95]:
msg = "Hey Hi"

for i in range(len(msg)):
    msg[i] = msg[i] + 'K'
    
print(msg)

TypeError: 'str' object does not support item assignment

In [96]:
lang = "Python Is OOP's Languge"

n = len(lang)

for ind in range(n):
    print(lang[ind],end=" ")

P y t h o n   I s   O O P ' s   L a n g u g e

In [ ]:
s="Python Is OOP's Languge"
print(len(s))

In [97]:
for ind in range(len(s)):
    if (s[ind]>='A' and s[ind]<='Z'):
        print(s[ind] , end=" ")

In [98]:
print('a'>'A')

True

In [99]:
print(chr(65),chr(97))

A a

In [100]:
print(ord('a'),ord('z'))

97 122

In [101]:
print(chr(91))

[

In [102]:
print(ord('A'),ord('Z'))

65 90

In [103]:
for ch in s:
    if (ord(ch)>=97 and ord(ch)<=122):
        print(ch)

m
o
d
e
l

In [104]:
range(1,10)

range(1, 10)

In [ ]:
# finite iteration -- for loop 
# infinite iteration -- while loop

### WHILE LOOP
    
    
- With the while loop we can execute a set of statements as long as a condition is true.
- We prefer the while when dont know the no of iterations in advance
- In While loop , its mandatory to initialise the index variable and increment it during iterations


```python
initialze index variable;
while (condition):
    body
    inc/dec
      
```

In [ ]:
i = 0 #index variable
n = 10 #stop

while i<n: #true 
    print(i)
    i+=2
    
print("outside loop")

In [ ]:
i = 0
lst = ["google" , "amazon" , "netflix"]

while i < len(lst):
    print(lst[i])
    i = i+1

In [10]:
comp = ['Google', 'Microsoft', True, 1729, 100000000000.0, (5+2j)]
print(comp)
print(len(comp))

['Google', 'Microsoft', True, 1729, 100000000000.0, (5+2j)]
6

In [11]:
# print base 
for data in comp:
    print(data, end =" ")

Google Microsoft True 1729 100000000000.0 (5+2j)

In [12]:
# range 

for i in range(0,len(comp)):
    print(comp[i] , end=" ")

Google Microsoft True 1729 100000000000.0 (5+2j)

In [13]:
# while

comp = ['Google', 'Microsoft', True, 1729, 100000000000.0, (5+2j)]

i = 0
n = len(comp)

print(n)
while i<n:
    print(comp[i] , end=" ")
    i = i+1

6
Google Microsoft True 1729 100000000000.0 (5+2j)

In [ ]:
i=10
while i>0:
    print("hello world")

In [ ]:
i=0 #index variable

n=10 #stop

#if the condition is True , it enters the loops , it will stop when the condition is FALSE
while i<=n: #0 1 2 3 4 5 6 7 8 9  10
    print(i ,end=" ")
    print("Kumar")
    i +=1
    
print(i)

In [ ]:
i=0 #index variable

n=10 #stop

#if the condition is True , it enters the loops
while i<=n: #0 1 2 3 4 5 6 7 8 9 
    print(i ,end=" ")
    i=i+2

In [14]:
print(10==10)

print(12!=0)

print(0!=0)

True
True
False

In [ ]:
print(bin(12))

In [ ]:
comp

### Daily usecases

In [15]:
print(bin(10))

0b1010


#### decimal number to binary convertion

In [17]:


# VALUES : 128 64 32 16 8 4 2 1
# digits : 

n = 27

while n != 0: #when flase comes out of the loop
    print(n%2 , end=" ")
    n=n//2


# modulus = 1 1 0 1 1 (binary of 27)
# #n = 13 
# n = 6
# n =3
# n= 1 
# n=0

1 1 0 1 1

In [18]:
print(bin(27))

0b11011

#### print in reverse order.

In [ ]:
comp = ["amazon" , "netflix" , "uber" , "Google"]
start = -1

n = -len(comp)

print(start,n)

while start>=n: #0 1 2 3 4 5 
    print(comp[start])
    start=start-1

#### copying

In [ ]:


ind = 0

n = len(comp)

new_list = ['a','b','c','d','e','f']

while ind < n: #0 1 2 3 4 5 
    comp[ind]=new_list[ind]
    ind+=1
comp

##### rever of an array

In [ ]:
# rever of a array

arr = [109,3,9,0,6]
#output [6,0,9,3,109]

ind = 0 
backind = len(arr)-1

n = len(arr)

while ind<(n//2):
    arr[ind] ,arr[backind]  = arr[backind] , arr[ind]
    ind+=1
    backind= backind-1
    print(f"{ind} iteration:  {arr}")

print(arr)

In [ ]:
num=int(input("enter any number : ")) 

c=0
while num>0:
    num = num//10 
    c=c+1
    
print(f'length of number is {c}')

### Examples

In [19]:
i = 0 
while i<=10:
    print(i)
    i = i+3

0
3
6
9

In [21]:
names = ['shivani' , 'ravi' , 'lasya' , 'mahesh']

i = 0
while names:
    print(names[i])

In [25]:
while names:
    print(names.pop() , names)

mahesh ['shivani', 'ravi', 'lasya']
lasya ['shivani', 'ravi']
ravi ['shivani']
shivani []

In [27]:
i = 0 
n = 100

while i <= 100:
    if i % 2 == 0:
        print(i)
    i+=2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [34]:
# prime number 
#  a number having two factors , one and itself .

num = int(input('enter the number: '))

div_count = 0 
i = 1
while i <= num: #O(n)
    if num%i == 0:
        div_count += 1 
    i = i+1

if div_count == 2:
    print(f'{num} is a prime')
else:
    print(f'{num} is not prime')

enter the number: 10000005
10000005 is not prime

In [ ]:
num = 7 

7%1 == 0 
7%2 == 0
7%3 == 0 
7%4 == 0
7%5 == 0 
7%6 == 0
7%7 == 0